body{
  font-family: 'Poppins';
  padding: 3rem 1rem;
  
}
.card-container{
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr ;
  justify-items: center;
}
.card{
  margin: 1.5rem 0;  
  align-content: center;
  border-radius: .5rem;
  box-shadow: .5rem  .5rem .6rem .25rem rgba(0, 0, 0, 0.374);
}
.card-ti{
  font-family: sans-serif;
  text-align: left;
  opacity: 0.9;
  margin-left: .5rem ;
}

header{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.first-title{
  
  color: #616161;
  opacity: .8 ;
  font-weight: 200 ;
}
.second-title{
  font-weight: 800; 
  color: rgba(34, 32, 32, 0.883);
  margin-bottom: 1rem;
}
.desc {
  color: #616161
}

img{
  margin: .5rem;
  float: right;
}
.line {
    width: 100%;
    height: .32rem; 
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
}

@media(min-width: 1200px) {
  body{
    padding: 0 10rem;
    cursor: url('./images/cursor/_EG_Alternate_Select_v3.0_01.png'), auto;

  }
  header{
  padding: 3.5rem 12rem 0 12em;
  }
  .card-container{
    margin: -8rem 0 -8rem 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: 30px;

  }
  .team-builder-card{
    grid-column: 2 ;
    grid-row: 1 /3;
  }
  .karma-card{
    grid-column: 2 ;
    grid-row: 2 / 4 ;
  }
  .calculator-card{
    grid-column: 3 / 4;
    grid-row: 2;
  }
  .supervisor-card{
    grid-column: 1 / 2;
    grid-row: 2;
  }
  .card {
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card:hover{
  transform: translateY(-10px);
  cursor: url('./images/cursor/_Stat_EG_Busy_v3.0.png') , auto;

}
}
